
eclipseWorkspace/*
**/.settings
**/.project
**/.classpath
**/target/
**/bin/
glacier-archive/alfresco/*
glacier-archive/share/*
glacier-archive/solr/*
glacier-archive/runner/*

glacier-archive/glacier-archive-share/target/test-classes/test-log4j.properties

glacier-archive/glacier-archive-repo/target/test-classes/test-log4j.properties
